<% provide(:title, 'My cart') %>
<h1>My cart</h1>
<% if session[:cart].nil? %>
<h4>Ban chua chon mua san pham nao</h4>
<% else %>
	<table class="table table-striped" style="font-size:16px">
		<thead>
		<tr>
			<th width="15%"> Product </th>
			<th width="40%"> Description </th>
			<th width="10%"> Quantity </th>
			<th width="15%"> Price </th>
			<th width="20%"><%= link_to "Reset My Cart", emty_cart_path, 
				class: "btn btn-large btn-danger", data: { confirm: "Are you sure" } %></th>
		</tr>
		</thead>
		<tbody>
			<% sum = 0 %>
			<% session[:cart].each do |k,v| %>
				<tr>
	 				<td><%= link_to Product.find(k).name, Product.find(k) %></td>
	 				<td><%= Product.find(k).description %></td>
	 				<td><%= v %></td>
	 				<td><%= Product.find(k).price * v %> VND</td>
	 				<td><%= link_to "Remove from Cart", remove_from_cart_path(k) %></td>
	 				<% sum += Product.find(k).price * v %>
	 			</tr>
			<% end %>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="font-weight:bold;"> Total: </td>
				<td><%= sum %> VND</td>
				<td><%= link_to "Submit My Cart", submit_path, method: :post, class: "btn btn-large btn-success" %></td>
			</tr>
		</tbody>
	</table>
<% end %>