<tr>
  <td><%= link_to product.name, product_path(product.id) %></br>
  	Price: <%= product.price %> VND
  </td>
  <td> <%= product.description%> </td>

	<td><%= link_to "Add to cart", add_to_cart_path(product.id), method: :post, 
              class: "btn btn-large btn-primary" %>
	</td>
  <% if signed_in? && current_user.admin? %>
    	<td width="10%" ><%= link_to "Edit", edit_product_path(product) %></td>
  		<td width="10%" ><%= link_to "Delete", product, method: :delete, 
  												data: { confirm: "Are you sure" } %> </td>
  <% end %>
</tr>
