<% provide(:title, 'New product') %>
<h1> Create new product</h1>
<h2>Welcome to My Project</h2>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@product) do |ff| %>
    	<%= render 'shared/error_messages', object: ff.object %>
		<%= ff.label :name %>
		<%= ff.text_field :name %>

		<%= ff.label :description %>
		<%= ff.text_area :description, rows: 10 %>

		<%= ff.label :price %>
		<%= ff.number_field :price, value: 1000, min: 1000 %>

		<%= ff.label :category_id %>
      	<%= ff.select :category_id, options_from_collection_for_select(@categories, "id", "name"), 
      					{}, class: "select_box" %>

      	<%= ff.submit "Create product", class: "btn btn-large btn-success" %>
    <% end %>
  </div>
</div>